<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form">
  <app-input
    inputType="text"
    label="Username"
    [control]="$any(authForm).controls['username']"
  ></app-input>

  <app-input
    inputType="password"
    label="Password"
    [control]="$any(authForm).controls['password']"
  ></app-input>

  <app-input
    inputType="password"
    label="Password Confirmation"
    [control]="$any(authForm).controls['passwordConfirmation']"
  ></app-input>

  <div
    *ngIf="
      $any(authForm).controls['password'].touched &&
      $any(authForm).controls['passwordConfirmation'].touched &&
      $any(authForm).errors
    "
    class="ui red basic label"
  >
    <p>Password and Password Confirmation must match.</p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>

  {{ authForm.errors | json }}
</form>
