<div class="ui dimmer visible active">
  <div class="ui modal visible active">
    <i class="close icon"></i>
    <div class="header">MODAL!</div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nobis
        earum sunt eum blanditiis facere voluptatem rerum quibusdam! Natus dicta
        eveniet voluptatum dolorum tempora consectetur, eos aliquid voluptas
        ullam magnam.
      </p>
    </div>
    <div class="actions">
      <button class="ui button">OK</button>
    </div>
  </div>
</div>
